
<main>
    <div id="nav">
        <ul>
        <li><a class="but-navi" href="{{ url_for('home_bp.home') }}">MoviePlanet</a></li>
        <li><a class="but-navi" href="{{ url_for('search_bp.search') }}">Search</a></li>
        <li><a class="but-navi" href="{{ url_for('logging_in_bp.register') }}">Register</a></li>
        <li><a class="but-navi" href="{{ url_for('logging_in_bp.login') }}">Login</a></li>
        <li><a class="but-navi" href="{{ url_for('logging_in_bp.logout') }}">Log Out</a></li>



        </ul>
    </div>
</main>
